
.yoga-heading{
    position: relative;
}

.yoga-heading::after{
    content: '';
    border: 3px solid orange;
    border-radius: 15px;
    position: absolute;
    width: 30%;
    left: 1%;
    bottom: 4%;
    animation: lineAnimation 500ms ease-in-out
}


@keyframes lineAnimation {
    from{
        transform: translateX(-100px);
        opacity: 0;
    }
    to{
        transform: translatex(0);
        opacity: 1;
    }
}